<div class="container-fluid-footer p-0 mb-0 justify-content-center text-light ">
    <footer>
        <div class="row my-5 justify-content-center p-0">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h4 class="text-uppercase mb-md-0 mb-5 text-light">Spin it</h4>
                        <p class="mt-4 text-secondary">Record shop specialised in mint condition second hand products</p>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 text-light text-uppercase"><strong>Menu</strong></h6>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'home' %}" class="text-secondary">Home</a></li>
                            <li>
                                <a href="{% url 'products' %}"
                                    class="text-secondary">Products</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 text-light text-uppercase mt-sm-0 mt-5"><strong>Address</strong></h6>
                        <p class="mb-2 text-uppercase text-secondary">Spin It</p>
                        1 Main Street<br>
                        Ennis<br>
                        Co. Clare<br>
                        Ireland
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted mb-0 pb-0">
                            <a class="mx-2 text-secondary" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                            <a class="mx-2 text-secondary" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="mx-2 text-secondary" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                            <a class="mx-2 text-secondary" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                        </p>
                        <small>Spin It © 2021</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-uppercase text-light"><strong>Email</strong></h6>
                        <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <a class="text-secondary" href="mailto:spin.it.shop@gmail.com">
                            spin.it.shop@gmail.com
                        </a>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-uppercase text-light"><strong>Phone</strong></h6>
                        <span><i class="fa fa-phone-alt" aria-hidden="true"></i></span>
                        <a class="text-secondary" href="tel:+3530651234123">
                            (+353) 065-1234 123
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>