<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu shadow border-3">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="records-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Records
            </a>
            <div class="dropdown-menu shadow border-3">
                <a href="{% url 'products' %}?category=lps" class="dropdown-item">Lp's</a>
                <a href="{% url 'products' %}?category=eps" class="dropdown-item ">Ep's</a>
                <a href="{% url 'products' %}?category=seveninches" class="dropdown-item">7 inches</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="turntables-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Turntables & Accesories
            </a>
            <div class="dropdown-menu shadow border-3">
                <a href="{% url 'products' %}?category=turntables" class="dropdown-item">Turntables</a>
                <a href="{% url 'products' %}?category=djbags" class="dropdown-item">DJ Bags</a>
                <a href="{% url 'products' %}?category=accesories" class="dropdown-item">Accesories</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="studio-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Studio
            </a>
            <div class="dropdown-menu shadow border-3">
                <a href="{% url 'products' %}?category=controllers" class="dropdown-item">Controllers</a>
                <a href="{% url 'products' %}?category=synths" class="dropdown-item">Synth &amp Recorders</a>
                <a href="{% url 'products' %}?category=headphones" class="dropdown-item">Headphones &amp Mics</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="sale-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SALE
            </a>
            <div class="dropdown-menu shadow border-3">
            
            </div>
        </li>
    </ul>
</div>